* {
  box-sizing: border-box;
}

.head-container{
  height: 600px;
  border-style: solid;
  border-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.nav {
  margin-top: 2%;
  padding-left: 4em;
  padding-right: 4em;
}

.new-table-button {
  background-color: orange;
  margin-left: 30px;
}

.log-in {
  width: 120px;
  position:
  left: auto; /* <-- Reset the default left value */
  right: 3%;
  float: right !important;
  background-color: orange;
}

.sign-up {
  width: 120px;
 left: auto; /* <-- Reset the default left value */
 right: 11%;
 float: right !important;
 margin-right: 20px;
 background-color: orange;
}

.btn-toolbar {
  text-align: left;
}

.rountables{
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 3em;
  text-align: center;
}

.search-container {
  padding-left: 15em;
  padding-right: 15em;
}

.table-container {
  padding: 5%;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.table {
  background: tomato;
  width: 380px;
  height: 380px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

/*
.table-container{
  padding-left: 5%;
  padding-right: 5%;
  border-style: dashed;
  border-color: black;
}

.row {
  margin: 0 auto;
  padding-top: 50px;
}

.table-1 {
  height: 380px;
  width: 30%;
  border-style: solid;
  border-color: #000000;
  margin-right: 2.5%
}
.table-2 {
  width: 30%;
  height: 380px;
  border-style: solid;
  border-color: #000000;
  margin-right: 2.5%;

}
.table-3 {
  width: 30%;
  height: 380px;
  border-style: solid;
  border-color: #000000;

}

.row2 {
  margin: 0 auto;
  padding-top: 50px;
}*/

/*li {
  width: 380px;
  min-height: 380px;
  border: 1px solid #000;
  display: inline-block;
  margin: 50px;
}

ul {
  padding-left: 100px;
  padding-right: 100px;
}*/

/*
.table-4 {
  position: absolute;
  height: 380px;
  width: 30%;
  border-style: solid;
  border-color: #000000;
  margin-right: 5%
}
.table-5 {
  position: absolute;
  width: 30%;
  height: 380px;
  border-style: solid;
  border-color: #000000;
  margin-right: 5%;

}
.table-6 {
  position: absolute;
  width: 30%;
  height: 380px;
  border-style: solid;
  border-color: #000000;

} */
