* {
  box-sizing: border-box;
}

.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;

}

.container{

}

.home-right {
  float: right;
  width: 320px;
  height: 80px;
  background-color: rgba(0,0,0,0.3);
}

.signin {
  width: 120px;
  height: 40px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-style: solid;
  border-color: #ffffff;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.signin:hover{
  background-color: none;
}

.signup {
  width: 120px;
  height: 40px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-style: solid;
  border-color: #ffffff;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.signup:hover {
  background-color: none;
}

.head-container{
  border-style: solid;
  border-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10em;

}

.nav {
  margin-top: 2%;
  padding-left: 4em;
  padding-right: 4em;
}

.new-table-button {
  background-color: orange;
  margin-left: 30px;
}

.log-in {
  width: 120px;
  position:
  left: auto; /* <-- Reset the default left value */
  right: 3%;
  float: right !important;
  background-color: orange;
}

.sign-up {
  width: 120px;
 left: auto; /* <-- Reset the default left value */
 right: 11%;
 float: right !important;
 margin-right: 20px;
 background-color: orange;
}

.btn-toolbar {
  text-align: left;
}

.rountables{
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 3em;
  text-align: center;
}

.search-container {
  padding-left: 15em;
  padding-right: 15em;
}

.table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.table {
  background: tomato;
  width: 300px;
  height: 300px;
  padding: 5px;
  margin: 25px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
